.profile-container {
  padding: 20px;
}

.profile-container h1 {
  margin-bottom: 20px;
}

.profile-details {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.profile-details strong {
  color: #0c1618;
}

.profile-actions {
  margin-top: 20px;
}

.profile-actions h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  padding: 10px 15px;
  background-color: #004643;
  color: #faf4d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-group button:hover {
  background-color: #0c1618;
}

.delete-button {
  background-color: #d9534f;
}

.delete-button:hover {
  background-color: #c9302c;
}
