.manage-event-container {
  padding: 20px;
  background-color: #faf4d3;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.manage-event-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #004643;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #0c1618;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1ac00;
  border-radius: 5px;
  background: #ffffff;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.update-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #004643;
  color: #faf4d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.update-button:hover {
  background-color: #d1ac00;
}
