.event-details-page {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #faf4d3;
}

.event-details-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-details-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.event-topics {
  margin-bottom: 20px;
}

.event-topic {
  display: inline-block;
  background-color: #004643;
  color: #faf4d3;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #d1ac00;
  color: #faf4d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #f6be9a;
}

.comments-section {
  margin-top: 20px;
}

.comments-section input {
  width: calc(100% - 120px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #d1ac00;
  border-radius: 5px;
}

.comments-section button {
  padding: 10px 20px;
  background-color: #004643;
  color: #faf4d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.comments-section button:hover {
  background-color: #d1ac00;
}

.comments-section ul {
  list-style: none;
  padding: 0;
}

.comments-section li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #d1ac00;
  border-radius: 5px;
  background: #fefcf6;
}

.comments-section li button {
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 14px;
  background: #d1ac00;
  color: #faf4d3;
}

.comments-section li button:hover {
  background: #f6be9a;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .event-details-page {
    flex-direction: column;
  }

  .event-details-left,
  .event-details-right {
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  .event-details-left h2,
  .event-details-right h3 {
    font-size: 20px;
  }

  .event-details-left p,
  .event-details-right button,
  .comments-section input {
    font-size: 14px;
  }

  .comments-section li {
    font-size: 12px;
  }
}