.event-details-page {
  padding: 20px;
  background-color: #faf4d3;
}

.event-details-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #004643;
}

.event-details-page p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #0c1618;
}

.event-details-page button {
  padding: 10px 20px;
  background-color: #d1ac00;
  color: #faf4d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.event-details-page button:hover {
  background-color: #f6be9a;
}

.event-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.event-topics {
  margin-bottom: 20px;
}

.event-topic {
  display: inline-block;
  background-color: #004643;
  color: #faf4d3;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .event-details-page {
    padding: 15px;
  }

  .event-details-page h2 {
    font-size: 20px;
  }

  .event-details-page p {
    font-size: 16px;
  }

  .event-details-page button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .event-image {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .event-details-page {
    padding: 10px;
  }

  .event-details-page h2 {
    font-size: 18px;
  }

  .event-details-page p {
    font-size: 14px;
  }

  .event-details-page button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .event-topic {
    padding: 3px 6px;
    font-size: 12px;
  }
}
