.home-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-height: calc(100vh - 60px);
  background-color: #faf4d3;
}

.left-section {
  flex: 1;
  max-width: 50%;
  text-align: left;
  padding-right: 20px;
}

.left-section h1 {
  font-size: 2.5em;
  color: #004643;
  margin-bottom: 10px;
}

.left-section p {
  font-size: 1.2em;
  color: #0c1618;
  margin-bottom: 20px;
}

.login-link {
  padding: 10px 15px;
  background-color: #d1ac00;
  color: #faf4d3;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: #f6be9a;
}

.right-section {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-section .event-card {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #faf4d3;
  color: #0c1618;
}

.right-section .event-card h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #004643;
}

.right-section .event-card p {
  font-size: 1em;
  color: #666;
}

.calendar-section {
  margin: 20px 0;
}

.map-section {
  margin: 20px 0;
}

.react-calendar {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__tile--highlight-joined {
  background: #ffcc00;
  color: black;
  border-radius: 50%;
}

.react-calendar__tile--highlight-created {
  background: #00ccff;
  color: black;
  border-radius: 50%;
}

.react-calendar__tile {
  color: black; /* Make calendar text black */
}
