.admin-dashboard-container {
  padding: 20px;
}

.kpi-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.kpi {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.kpi h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.kpi p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; /* Add width to the chart container */
}

.chart-container h2 {
  margin-bottom: 20px;
}

.recharts-tooltip-wrapper {
  z-index: 1000;
}
