.myevents-container {
  padding: 20px;
}

.myevents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.create-event-button {
  padding: 10px 20px;
  background-color: #004643;
  color: #faf4d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.create-event-button:hover {
  background-color: #0c1618;
}

.myevents-content {
  display: flex;
  gap: 20px;
}

.created-events,
.joined-events {
  flex: 1;
  max-width: 50%;
  overflow-y: auto;
}

.event-item {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 10px;
}

.event-item h3 {
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #004643;
}

.event-item p {
  margin-bottom: 5px;
  font-size: 1em;
  color: #666;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .myevents-content {
    flex-direction: column;
  }

  .created-events,
  .joined-events {
    max-width: 100%;
  }
}