.myevents-container {
  padding: 20px;
}

.myevents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.create-event-button {
  padding: 10px 20px;
  background-color: #004643;
  color: #faf4d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.create-event-button:hover {
  background-color: #0c1618;
}

.myevents-content {
  display: flex;
  gap: 20px;
}

.created-events,
.joined-events {
  flex: 1;
}

.event-item {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 10px;
}