.myevents-container {
  padding: 20px;
  background-color: #faf4d3;
}

.myevents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.create-event-button {
  padding: 10px 20px;
  background-color: #d1ac00;
  color: #faf4d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.create-event-button:hover {
  background-color: #f6be9a;
}

.myevents-content {
  display: flex;
  gap: 20px;
}

.created-events,
.joined-events {
  flex: 1;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.event-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.event-details {
  flex: 1;
}

.manage-button,
.cancel-button {
  padding: 10px 20px;
  background-color: #004643;
  color: #faf4d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.manage-button:hover,
.cancel-button:hover {
  background-color: #d1ac00;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .myevents-content {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .event-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .event-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .manage-button,
  .cancel-button {
    width: 100%;
  }
}